<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631013934657-rlkni2t1ahch9cl0rjgkdqhn0u2i6r48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631013934657-rlkni2t1ahch9cl0rjgkdqhn0u2i6r48</string>
	<key>API_KEY</key>
	<string>AIzaSyB_zmrseVbep6ctBskB-Yd7sJ9cRIxM5cI</string>
	<key>GCM_SENDER_ID</key>
	<string>631013934657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echim.Publisher</string>
	<key>PROJECT_ID</key>
	<string>publisher-ed3f8</string>
	<key>STORAGE_BUCKET</key>
	<string>publisher-ed3f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631013934657:ios:7866885b0d9df8cb55e8c0</string>
</dict>
</plist>